.cT1 {
	color: #6e7c7b;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.cT2,
.cT3 {
	color: #000;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}