body{
    background-color: rgba(245, 245, 245, 1);
}
.header-background {
    background-image: url('Header.jpg'); 
    background-size: cover; 
    background-position: center top;     
    position: relative;
    top: 60px;
    background-attachment: fixed; 
    color: rgb(0, 0, 0); 
    
    padding: 200px; 
    
}

img{
    border-radius: 5%;
}

  
.kotak {
    width: 1500px; 
    height: 600px; 
    background-color: white; 
     
    position: relative;
    top: 600px;
}

.Tulisan{
    margin-top: 80px;
    margin-bottom: 80px;
}

.table {
    background-color: transparent; /* Set the table background to transparent */
}
.table td {
    background-color: transparent; /* Set the cell background to transparent */
}

#contact-us{
    background-color: #00897B;
}


