* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#btnFilter {
	border-color: #fff;
	border-radius: 10px;
	border: 2px solid #00897b;
	color: #00897b;
	background-color: #fff;
	font-family: Arial;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	width: 140px;
}
.btn-link {
	margin-right: 81px;
}

.searchBox{
	width: 300px;
}
.head {
	color: #222;
	font-family: Arial;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 173.523%; /* 83.291px */
}

.subHead {
	color: #222;
	font-family: Arial;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 173.523%; /* 41.645px */
}
