*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
  }
  
  body{
    background-color: #ffff;
  }
  
  nav{
    display: flex;
    flex-shrink: 0;
    background-color: #00897B;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  
  .nav-link {
    color: #fff;
    font-family: Arial;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .navbar-nav a {
    color: white !important;
  }