@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
}

body{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    height: 100vh;
    background-color: #00897B;
}

.custom-form{
    background-color: white; 
    padding: 20px;
    width: 1100px;
    height: 780px;
    position: relative;
    right: -500px;
}

.input{
    width: 400px;
}

.btnMasuk{
    background-color: #00897B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    transition: all 0.3s ease;
    margin-top: 40px;
}

.btnMasuk:hover{
    background-color: white;
    color: #00897B;
    border: 1px solid #00897B;    
}